#data-insert {
   height: 100%;
   overflow: hidden;
}

.custom-table {
   display: flex;
   flex-direction: column;
   height: 80%;
}

.table-head {
   padding: 0 1em 0 1em;
}

.table-head span {
   display: inline-block;
   width: 50%; 
   user-select: none;
}

.table-elements {
   flex: 1 1;
   display: inline-block;
   padding: 0 1em 0 1em;
   overflow-y: auto;
}

.buttons {
   position: relative;
   bottom: 0;
   height: 20%;
}

.buttons button {
   height: 2em;
   width: 2em;
}