.inputs input {
   width: 50% !important;
   border: none;
   border-bottom: 2px solid rgba(88, 206, 88, 0.863);
   border-radius: 2px;
   background: transparent;
   outline: none;
   font-size: 2.1em;
}

.inputs input:hover {
   border-bottom: 2px solid rgb(35, 172, 35);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}