.inputs td {
   padding: 0 1em 0 1em;
}

.inputs input {
   width: 100% !important;
   border: none;
   border-bottom: 2px solid var(--light-green);
   background: transparent;
   outline: none;
   font-size: 2.1em;
   font-weight: 600;
   color: rgb(77, 80, 76);
   transition: border .2s;
}

.inputs input:hover,
.inputs input:focus {
   border-bottom: 2px solid var(--green);
}

.inputs input::selection {
   background: var(--light-green);
   color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}