#data-measurements {
   height: 100%;
   border-radius: 1ex;
   margin-bottom: 1em;
   overflow: auto;
}

#data-measurements .table-striped>tbody>tr:nth-child(odd)>td {
   background: var(--light-green);
}

#data-measurements::-webkit-scrollbar {
   width: .7em;
}

#data-measurements::-webkit-scrollbar-track {
   background: var(--light-green);
   border-radius: 1ex;
}

#data-measurements::-webkit-scrollbar-thumb {
   background: var(--green);
   border-radius: 1ex;
}

#data-measurements::-webkit-scrollbar-thumb:hover{
   background: var(--dark-green); 
}