#data-measurements {
   height: 100%;
   border-radius: 1ex;
   margin-bottom: 1em;
   overflow: auto;
}

#data-measurements tr {
   font-weight: 700;
   font-size: 1.5em;
}

#data-measurements tr td::selection {
   background: var(--dark-green);
   color: #fff;
}

#data-measurements .table-striped>tbody>tr:nth-child(odd)>td {
   background: var(--light-green);
}

#data-measurements::-webkit-scrollbar {
   width: 1em;
}

#data-measurements::-webkit-scrollbar-track {
   background: var(--light-green);
   border-radius: 0 1ex 1ex 0;
}

#data-measurements::-webkit-scrollbar-thumb {
   background: var(--green);
   border-radius: 5px 1ex 1ex 5px;
}

#data-measurements::-webkit-scrollbar-thumb:hover {
   background: var(--dark-green);
}

@media screen and (min-width: 768px) {
   #data-measurements::-webkit-scrollbar {
      width: .7em;
   }
}