* {
   font-family: monospace;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #C9D6FF;
   background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
   background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}